:root {
    --background: #141417;
    --high-contrast: #28282E;
    --low-contrast: #1F1F23;
    --highest-contrast: #78787E;
    --accent: #BDFF30;
    --text-color: #141417;
    --text-subtle: #CDCDD6;
}

