.league {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);
  cursor: pointer;

  border-radius: 4px;

  &:hover {
    .name {
      color: var(--accent);
    }
    .badge {
      background: var(--accent);
    }
  }

  .badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--low-contrast);
    padding: 8px;
    margin-right: 6px;
    transition: var(--transition);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    flex: 1;
    transition: var(--transition);
  }
  .teamNumber {
    background: var(--accent);
    color: var(--low-contrast);
    padding: var(--space-xxxs) var(--space-sm);
    font-size: var(--text-sm);
    border-radius: 20px;
  }
}
