.team {
    display: flex;
    align-items: center;
    padding: var(--space-xs);
    transition: var(--transition);
    border-radius: 2px;
    cursor: pointer;


    &:hover {
        background-color: var(--accent);

        .name {
            color: var(--low-contrast);
            font-weight: 600;
        }
    }

    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
    }
    .name {
        color: white;
    }
}